{% extends "layout.html" %}
{% block body %}
	<h1>Game Starts {{gamestarts}}</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Version</th>
				<th>UUID</th>
				<th>System</th>
				<th>Release</th>
			</tr>
		</thead>
		<tbody>
		{% for gamestart in gamestarts %}
			<tr>
				<td>{{ gamestart.date }}</td>
				<td>{{ gamestart.version.version }}</td>
				<td>{{ gamestart.uuid|safe}}</td>
				<td>{{ gamestart.osinfo.system|safe}}</td>
				<td>{{ gamestart.osinfo.release|safe}}</td>
			</tr>
		{% else %}
			<tr><td>Unbelievable.  No entries here so far</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<div id="chartdiv" style="width:400px; height:400px;"> 
	</div>
	<div id="chartdiv2" style="width:400px; height:400px;"> 
	</div>
		<script>
		$(document).ready(function() {
			var chart = new Highcharts.Chart({
		
				chart: {
					renderTo: 'chartdiv',
					type: 'pie'
				},
				title: {
					text: 'Starts by Operating System'
				},
				series: [{
					name: 'Game Starts',
					data: {{ osstats|tojson|safe }}
				}]
			});
		});
		$(function () {
			var chart2;
			$(document).ready(function() {
				chart2 = new Highcharts.Chart({
					chart: {
						renderTo: 'chartdiv2',
						type: 'spline'
					},
					title: {
						text: 'Gamestarts by day'
					},
					subtitle: {
						text: 'Shows gamestarts per day separated by operating system'
					},
					xAxis: {
						type: 'datetime',
						dateTimeLabelFormats: { // don't display the dummy year
							month: '%e. %b',
							year: '%b'
						}
					},
					yAxis: {
						title: {
							text: 'Game Starts'
						},
						min: 0
					},
					tooltip: {
						formatter: function() {
								return '<b>'+ this.series.name +'</b><br/>'+
								Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
						}
					},
					
					series: {{ startstats|tojson|safe}}
				});
			});
			
		});
		</script>
{% endblock %}
